<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Accounts</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>Morality</th>
    </tr>

    <tr th:each="account : ${listOfAccounts}"
        th:style="${account.royalty} ? 'background-color : gold;' : 'background-color : white;'">
        <td th:text="${accountStat.index}"></td>
        <td th:text="${account.name}"></td>
        <td th:text="${account.balance}"></td>
        <td th:text="${account.animalType}"></td>
        <td th:if="${account.morality == true}">Good Boi</td>
        <td th:if="${account.morality != true}">Bad Boi</td>
    </tr>
</table>

<div class="dropdown">
    <form th:action="@{/form}" th:method="post">
        <select name = "val" th:type="text">
            <option th:each="account : ${listOfAccounts}"
                    th:value="${accountStat.index}"
                    th:text="${account.name}"></option>
        </select>
        <button type="submit">Raise Balance</button>
    </form>
</div>
</body>
</html>