<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attila Club</title>
</head>
<body>

<ul>
    <li><a th:href="@{/attilaclub(name=${name})}">Return to Your Attila</a></li>
    <li><a href="http://localhost:8080/attilaclub">Add Another One</a></li>
</ul>

<h2>All The Attilas Out There</h2>

<table>
    <tr>
        <th>Names</th>
    </tr>
    <tr th:each="attila: ${list}">
        <td th:text="${attila.name}"></td>
    </tr>
</table>

</body>
</html>