<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attila Club</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<ul id="banner" style="list-style: none">
    <li><a th:href="@{attilaclub/attilarepo(name=${attila.name})}">Check Out All The Attilas</a></li>
    <li><a href="/attilaclub/login">Add New Attila</a></li>
    <li><a th:href="@{attilaclub/nutrition(name=${attila.name})}">Get Groceries</a></li>
    <li><a th:href="@{attilaclub/tricks(name=${attila.name})}">Educate Attila</a></li>
</ul>

<div class="profile">
  <div class="flex">
    <div class="identity">
      <img alt="image" src="/attila.jpg" height="250" width="250">
    </div>
    <div class="tricks">
      <h2>Known Tricks</h2>
      <ul>
          <li th:each="trick: ${attila.listOfTricks}">
              <td th:text="${trick}"></td>
          </li>
      </ul>
      <p th:if="${attila.checkTrickList()}">Your Attila knows no tricks. Utterly useless!</p>
    </div>
  </div>
    <p th:utext="'This is ' + ${attila.name} + '. He is currently living on '
                            + ${attila.food} + ' and ' + ${attila.drink} + '.'"></p>
</div>

</body>
</html>