<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attila Buffet</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<ul id="banner" style="list-style: none">
    <li><a th:href="@{/attilaclub(name=${name})}">Return to Your Attila</a></li>
</ul>

<div class="buffet">
  <h2>Get Your Attila On Some Yummies</h2>

  <form th:action="@{/attilaclub/nutrition}" th:method="post">
      <label>Food</label>
      <select name = "food" th:type="text">
          <option th:each="food : ${list}"
                  th:text="${food}"></option>
      </select>
      <label>Drink</label>
      <select name = "drink" th:type="text">
          <option th:each="drink : ${drinkList}"
                  th:text="${drink}"></option>
      </select>
      <input type="submit" name="foodbutton">
      <input type="hidden" name="name" th:value="${name}">
  </form>
</div>

</body>
</html>